#bloc-home-hero{
    height: 60rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 14.9rem;
    .bloc-home-hero-img{
        width: 53.5rem;
        min-height: max-content;
        img{
            width: 100%;
            height: 100%;
        }
        @include breakpoint(mobil){
            width: 100%;
        }
    }
    .bloc-hero-content{
        width: 50.8rem;
        @include breakpoint(mobil){
            width: 100%;
        }
        .text-paragraphe-title{
            margin-bottom: 3.6rem;
            font-weight: 500;
            font-size: 2rem;
            font-family: 'Montserrat';
        }
        p{
            font-size: 1.5rem;
            font-family: 'Montserrat';
        }
    }
    @include breakpoint(mobil){
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: baseline;
        height: max-content;
        padding-bottom: 5rem;
    }
}