#main-navbar{
    background-color: $background-nav-transparent;
    height: 11rem;
    .container{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        .navbar-toggler{
            @media (min-width:768px) {
                display: none;
            }
        }
        .navbar-items{
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 3rem;
            a{
                font-size: 1.4rem;
            }
            @media (max-width:768px) {
                display: none;
            }
        }
        .navbar-brand{
            width: 16rem;
            height: 13.7rem;
            @media (max-width:768px) {
                height: 10rem;
                width: 12rem;
            }
            img{
                width: 100%;
                height: 100%;
            }
        }
        .navbar-action-btn{
            background-color: $blue;
            color: $white;
            width: 26rem;
            height: 3.7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
            border-radius: 10px;
            a:hover{
                color: $dark;
            }
            @media (max-width:768px) {
                display: none;
            }
        }
        #navbarToggleExternalContent{
            .links{
                display: flex;
                flex-direction: column;
                gap: 1rem;
            }
            .navbar-action-btn{
                margin-top: 1.5rem;
                background-color: $blue;
                color: $white;
                width: 26rem;
                height: 3.7rem;
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: center;
                border-radius: 10px;
            }
        }
    }
}
