#page-home{
    .section-service{
        padding-bottom: 10rem;
        .section-cards{
            padding-bottom: 7rem;
            .card{
                padding-left: 4.7rem;
                padding-right: 4.7rem;
                padding-top: 5.6rem;
                padding-bottom: 5.6rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                color: $white;
              //  min-width: 35rem;
                min-height: 37.4rem;
                width: 30%;
                height: max-content;

                .card-img{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 5rem;
                }
                .card-title{
                    padding-bottom: 3rem;
                    font-size: 2rem;
                    text-align: center;
                }
                .card-description{
                    font-size: 1.4rem;
                    text-align: center;
                }
                @include breakpoint(tablette){
                    width: 30%;
                }
                @include breakpoint(mobil){
                    width: 100%;
                }
            }
        }
        .section-action-btn{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .section-formation,.section-ideas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .section-content{
            width: 61.5rem;
            .section-title{
                font-size: 2rem;
                font-weight: 500;
                padding-bottom: 3rem;
            }
            p{
                font-size: 1.4rem;
                font-weight: 400;
            }
            @include breakpoint(mobil){
                width: 100%;
            }
            
        }
        .section-img{
            width: 42rem;
            @include breakpoint(mobil){
                width: 100%;
            }
            img{
                width: 100%;
            }
        }
        @include breakpoint(mobil){
            flex-direction: column;
        }
    }
    .section-ideas{
        @include breakpoint(mobil){
            flex-direction: column-reverse;
        }
    }

}