$dark:#393B41;
$background: #393B41;
$background-light: #ffffff;
$background-nav-transparent: rgba(57, 59, 65, 0.696);
$background-nav-transparent-light: rgba(220, 222, 227, 0.696);
$white:#fff;
$blue:#44C6EA;
$card-bg:#2F2E41;