$breakpoints: (
    header: 1000px,
    mobil: 680px,
);
$tablette: 1000px;
$mobil: 680px;
$moyen : 1115px;
$extra: 2560px;
$font:'Montserrat';
@mixin breakpoint($point) {
    @if $point==moyen {
        @media (max-width: $moyen) {
            @content;
        }
    }

    @else if $point==tablette {
        @media (max-width: $tablette) {
            @content;
        }
    }

    @else if $point==mobil {
        @media (max-width: $mobil) {
            @content;
        }
    }

    @else if $point==extra {
        @media (max-width: $extra) {
            @content;
        }
    }
}